@use '../../var.scss';

#secondary-nav {
    background-color: var.$font-inverse-color;
    // background-color: transparent;
    height: 60px;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: nowrap;

    div {
        display: flex;
        justify-content: flex-end;

        input {
            border: none;
            border-bottom: 2px solid var.$font-fun2-color;
            background-color: var.$font-inverse-color;
        }

        button {
            min-width: 30px;
            border: none;
            border-bottom: 2px solid var.$font-fun2-color;
            background-color: var.$font-inverse-color;
        }
    }

    ul {
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;

        li {

            svg {
                width: 20px;
                height: auto;
            }
            a {
                svg {
                    width: 20px;
                    height: auto;
                }
            }
        }
    }

}
a {
    text-decoration: none;
}
// Carts sections
.container-cart {
    background-color: #ffffff;
    opacity: 100%;
    right: -100vw;
    top: 70px;
    color: rgb(17, 17, 17);
    position: fixed;
    width: 30vw;
    height: 100vh;
    z-index: 2 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    gap: 10px;
    overflow: scroll;
    transition: all 0.7s ease-in-out;

    div {
        display:flex;
        align-items: center;
        justify-content: flex-start;
        gap: 50px;
        max-height: 100px;
        border-bottom: 1px solid #bbbbbbb7;
        padding-bottom: 10px;
        width: 100%;


        span {
            width: 250px;
            overflow: hidden;
        }
    }
}
.container-cart-visible {
    opacity: 100%;
    right: 0;
    top: 70px;
}

//
#hero-section-small {
    position: relative;
    // background-color: var.$bg-dark-color;
    background-image:
    // Dark voile
    // linear-gradient(60deg, #2727273a, #262626b7)
    linear-gradient(60deg, #ff660e27, #5a501a65)

    ,
    ////// Our images
    // url('../../assets/img/glass-lamp.JPG')
    // url('https://i.etsystatic.com/16538771/r/il/7378b2/4858918966/il_794xN.4858918966_5s7c.jpg')
    // url('../../assets/img/v2.jpg')
    // url('../../assets/img/v3.jpg')
    url('../../assets/img/gradient.svg')



    ////// Pexels
    // url(https://images.pexels.com/photos/568290/pexels-photo-568290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
    // url(https://images.pexels.com/photos/30783191/pexels-photo-30783191/free-photo-of-pensive-woman-in-vintage-office-setting.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
    ;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    margin: 0;
    height: 70px;
    color: var.$font-inverse-color;


    #primary-nav {
        color: var.$font-inverse-color;
        transition: all 0.2s ease-in-out;
        padding: 0 50px 0 50px;

        ul {
            gap: 4vw;
            padding: 5px 20px 5px 20px;

            li {
                color:var.$font-fun2-color;
                border-bottom: 0 solid var.$font-fun2-color;
                padding-bottom: 10px;
                transition: all 100ms ease-out;
                transition-delay: 0.1s;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
            }
            svg {
                width: 20px;
                fill: var.$font-fun2-color;
            }

            li:hover {
                padding-bottom: 5px;
                border-bottom: 5px solid var.$font-fun2-color;
            }
        }
    }

    #primary-nav:hover {
        background-color: white;
        height:72px;
    }

    .fixed {
        z-index: 10;
        background-color: var.$font-inverse-color;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.185);
        ul {
            li {
                color: #262626 !important;
            }
            svg {
                fill : #262626 !important;
            }
        }
    }

    #hero-section-text {
        padding: 50px;
        height: 40dvh;
        margin-top: 0;
        padding-top: 20vh;
        align-items: center;
        gap:0;
        max-width: 500px;


        h1 {
            font-family: 'Courier New', Courier, monospace;
            font-size: clamp(15px, 15vw, 42px);
            letter-spacing: 0.3rem;
            margin: 0;

            // animation: typewriter 2s steps(14) forwards, blink .4s step-end infinite alternate;
        }
    }
}

#hero-section {
    position: relative;
    // background-color: var.$bg-dark-color;
    background-image:
    linear-gradient(60deg, #2727273a, #262626b7)
    ,
    ////// Our images
    // url('../../assets/img/glass-lamp.JPG')
    url('https://i.etsystatic.com/16538771/r/il/7378b2/4858918966/il_794xN.4858918966_5s7c.jpg')
    // url('../../assets/img/v2.jpg')
    // url('../../assets/img/v3.jpg')
    // url('../../assets/img/gradient.svg')

    ////// Pexels
    // url(https://images.pexels.com/photos/568290/pexels-photo-568290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
    // url(https://images.pexels.com/photos/30783191/pexels-photo-30783191/free-photo-of-pensive-woman-in-vintage-office-setting.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
    ;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    margin: 0;
    height: 80dvh;
    color: var.$font-inverse-color;


    #primary-nav {
        color: var.$font-inverse-color;
        transition: all 0.2s ease-in-out;
        padding: 0 50px 0 50px;
        z-index: 1;

        ul {
            gap: 4vw;
            padding: 5px 20px 5px 20px;

            li {
                color:var.$font-fun2-color;
                border-bottom: 0 solid var.$font-fun2-color;
                padding-bottom: 10px;
                transition: all 100ms ease-out;
                transition-delay: 0.1s;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
            }
            svg {
                width: 20px;
                fill: var.$font-fun2-color;
            }

            li:hover {
                padding-bottom: 5px;
                // border-bottom: 5px solid var.$font-fun2-color;
                border-bottom: 5px solid #262626;
            }
        }
    }

    #primary-nav:hover {
        background-color: white;
        // Pour fond sombre
        // background-color: rgb(56, 56, 56);
        height:77px;
        li {
            color: #262626;
        }
        svg {
            fill : #262626;
        }
    }

    .fixed {
        z-index: 200 !important;
        background-color: var.$font-inverse-color;
        // Pour fond sombre
        // background-color: rgb(56, 56, 56);
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.185);

        ul {
            li {
                color: #262626 !important;
            }
            svg {
                fill : #262626 !important;
            }
        }

    }

    #hero-section-text {
        // position: absolute;
        // left: 10vw;
        // bottom: 5vh;
        // height: 60vh;
        // max-width: 500px;

        padding: 50px;
        height: 40dvh;
        margin-top: 0;
        padding-top: 20vh;
        align-items: center;
        gap:0;
        max-width: 500px;


        h1 {
            font-family: 'Courier New', Courier, monospace;
            // width: 0;
            // overflow: hidden;
            // white-space: nowrap;
            // font-family: var.$font-big;
            font-size: clamp(15px, 15vw, 42px);
            letter-spacing: 0.3rem;
            // border-right: 5px solid;
            margin: 0;

            // animation: typewriter 2s steps(14) forwards, blink .4s step-end infinite alternate;
        }
    }
}

// animations du h1
.typewriter {
    animation: typewriter 2s steps(14) forwards,
    blink .4s step-end infinite alternate;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid;
}

@keyframes blink {
    50% { border-color: transparent;}
}

@keyframes typewriter {

    from {width: 0}
    to { width: 90% }

}

#pre-footer{
    gap: 10vw;
}

#main-footer {
    padding: 30px 0 30px 0;
    align-items: flex-start;
    h2 {
        font-size: 2rem;
    }
    input {
        padding: 10px 15px 10px 15px;
        margin-right: 5px;
    }
    button {
        padding: 10px 10px 10px 10px;
        border: 1px solid var.$font-fun2-color;
        background-color: var.$font-fun2-color;
        color: var.$font-main-color;
        cursor: pointer;
        transform: scale(1.04);
        transition: all 0.7s cubic-bezier( 0.68, -0.55, 0.265, 1.55 );
    }
    button:hover {
        background-color: var.$font-inverse-color;
        border: 1px solid var.$font-inverse-color;
    }
}

#menu-burger {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    z-index: 200;
    background-color: rgb(255, 255, 255);

    svg {
        width: 25px;
    }

    // Bouton burger sur lequel cliquer
    button {
        border: none;
        background-color: white;
        padding: 10px;
        cursor: pointer;
        text-align: left;
    }

    // Menu déroulant
    #hidden-nav-burger {
        background-color: white;
        position: fixed;
        top:0;
        width: 50%;
        height: 100vh;
        margin-top: 0;
        z-index: 300;
        display: flex;
        gap: 50px;
        padding-top: 200px;
        text-align:left;
        transition: all 0.5s ease-out;

        svg {
            position: absolute;
            top:15px;
            left:15px;
            transition: all 0.1s ease-in-out;
            cursor: pointer;
        }

        svg:hover {
            transform: scale(1.3);
        }

        li {
            color:var.$font-fun2-color;
            border-bottom: 0 solid var.$font-fun2-color;
            padding-bottom: 10px;
            transition: all 100ms ease-out;
            transition-delay: 0.1s;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
        }
        li:hover {
            padding-bottom: 5px;
            border-bottom: 5px solid var.$font-fun2-color;
        }
    }
    .hidden {
        opacity: 0;
        left: -1200px;
    }
    .visible {
        opacity:100;
        left: 0;
    }
}

// Gestion des menus déroulant de la nav
.drop-drown {
    position: relative;
    display: flex;
    flex-direction: column;

    .dropdown-child {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 10px !important;
        top: -100vh;
        left: 0;
        opacity: 0;
        background-color:white;
        transition: all 0.6s ease-out;
        transition-delay: 0.3s;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        z-index: 2;

    }
}
.drop-drown:hover, .dropdown-child:hover {

    .dropdown-child {
        width: 180px !important;
        left: -100px;
        top: 50px;
        opacity: 100%;
    }
}

// RESPONSIVE
//// TABLETTES
@media screen and (max-width:1024px) {

    .typewriter {
        font-size: 2rem !important;
    }

    #secondary-nav {

        #search-input {
            display: none;
        }
    }

    #primary-nav {
        display: none;
    }

    #menu-burger {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            padding: 0 20px 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10vw;
        }
    }

    #hero-section-text  {
        width: 80vw;
        padding: 0;
        overflow-x: hidden;
        position: relative;
        justify-content: center;
        margin: auto;
        height: auto;

        h1 {font-size: 0.5rem}
    }
    #pre-footer {
        gap: 0px;
        div {
            width: 50vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-wrap: nowrap;
        }
    }

    #main-footer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        div {
            width: 90vw;
        }
    }
    #hero-section-small {
        height: 50px;
    }

}