#recap-user-dashboard-admin {
    width: 100vw;
    min-height: 100vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .bubble {
        background-color: rgb(230, 230, 230);
        border-radius: 20px;
        padding: 30px;
        width: 50vw;
    }

    .flex {
        flex-direction: wrap;
        justify-content: flex-start;
        gap: 50px;

        div {
            width: 30%;
        }
    }
}