@use '../../var.scss';

#contact {
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    background-color: var.$font-fun-color;
    color: var.$font-main-color;
    padding-right: 50px;

    div {
        padding: 50px;
        width: 50%;
    }

    form {
        width: 50%;
        background-color: var.$bg-color;
        height: 300px;
        width: clamp(200px, 30vw, 500px);
        gap: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        align-items: center;

        label {
            display: none;
        }

        input {
            padding: 10px;
            border: none;
            border-bottom: 2px solid transparent;
            transition: all 0.2s ease-in-out;
            width: 80%;
        }

        input:hover {
            border-bottom: 2px solid var.$font-fun2-color;
            svg {
                background-color: white;
            }
        }
        input:active{
            border: 2px solid var.$font-fun2-color;
        }

        button {
            width: 50%;
            padding: 10px;
            text-align: center;

            svg {
                margin-right: 10px;
            }
        }
    }
}