#adding-cat {
    background-color: rgba(37, 37, 37, 0.226);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    #container-adding-cat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: rgb(245, 245, 245);
        width: 60vw;
        height: 250px;

        #btn-return {
            border-radius: 100%;
            border: 1px solid rgb(226, 226, 226);
            aspect-ratio: 1/1;
            font-size: 1.2rem;
            padding: 5px;
            align-self:last baseline;
            margin-right: 10px;
        }

        div {
            width: 80%;
            margin: 6px;

            input {
                padding: 5px;
                width: 100%;
            }
        }
    }
}

#gestion-categories {
    padding-top: 100px;
    overflow: scroll;
    // position: relative;

    .bubble{
        z-index: 1;
        background-color: #414141;
        color: white;
        border-radius: 20px;
        padding: 20px;
        width: 40vw;
        position: fixed;
        top: 10px;
        right: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
        cursor: pointer;
    }
    .bubble:hover {
        background-color: #525252;
    }

    #container-of-cats {
        display: flex;
        width: 80vw;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        .one-cat{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin: 5px 0 5px 0;
            width: 35vw;
            overflow: hidden;
            height: 270px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            background-color: #f1f1f1;
            // box-shadow: 5px 15px 5px rgb(238, 238, 238);
            .img-container {
                width: 100%;
                height: 75%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                    display: block;
                    filter: grayscale(0%);
                }

            }
            p, strong {
                margin: 0;
                width: 100%;
            }

        }

        .one-cat:hover{
            cursor: pointer;
            .img-container {
                img {
                    transform: scale(1.05);
                    filter: grayscale(100%);
                }
            }
        }
    }




}

#update-one-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section {
        position: relative;

        img {
            width: 100vw;
            height: 300px;
        }

        strong {
            color: white;
            position: absolute;
            top: 0;
            left: 0;
            width: 90%;
            font-size: 2rem;
            text-align: center;
            padding: 30px;
        }
    }

    form {
        display: flex;
        justify-content: center;
        // flex-direction: column;
        width: 100vw;
        gap: 10px;

        #one {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            input {
                width: 90%;
                color: rgba(87, 87, 87, 0.986);
                border: 1px solid rgba(146, 146, 146, 0.651);
                padding : 10px 10px;
                border-radius: 20px;
            }
        }

        #two {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #three {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                width: 100%;
            }
        }

        input {
            padding: 7px;
            width: 200px;
        }
    }

}

#display-articles {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 50px;
    background-color: rgba(214, 214, 214, 0.562);
    overflow: scroll;
    padding: 30px;

    div {
        padding: 20px;
        max-width: 200px;
        background-color: white;
        border-radius: 7px;

        img {
            max-width: 190px;
            height: auto;
            border-radius: 7px;
            aspect-ratio: 1/1;
        }
    }

}

@media screen and (max-width: 800px){

    #container-adding-cat {
        width: 70vw !important;
    }
    #update-one-category {
        form {
            flex-direction: column;
            #one, #two, #three {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

}