@use '../../var.scss';

section {

    #metal-card {
        background-image: url(../../assets/metal.jpg);
    }
    #glass-card {
        background-image: url(../../assets/glass.jpg);
    }
    #news-card {
        background-image: url(../../assets/news.webp);
    }


    .card {
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 400px;
        overflow: hidden;

        .btn2 {
            z-index: 1 !important;
        }

        .color-block {
            position: absolute;
            left: 0;
            bottom: -700px;
            background-color: var.$bg-color;
            width: 500px;
            height: 300px;
            z-index: 0;
            transition: all 0.5s ease-in-out;
        }
    }

    .card:hover {
        .color-block {
            opacity: 100%;
            bottom: -200px;
        }
    }

}

#home-about-me {
    position: relative;
    background-color: var.$bg-dark-color;
    color: var.$font-inverse-color;
    height: 500px;

    div {
        position: absolute;
        right: 50px;
        bottom: 50px;
        width: 30%;
        min-width: 280px;
    }
}

#home-about-me-footer {
    h3, p{
        margin: 0;
    }
}