@use '../../var.scss';

#secondary-nav {
    background-color: var.$font-inverse-color;
    height: 60px;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: nowrap;

    div {
        display: flex;
        justify-content: flex-end;

        input {
            border: none;
            border-bottom: 2px solid var.$font-fun2-color;
            background-color: var.$font-inverse-color;
        }

        button {
            min-width: 30px;
            border: none;
            border-bottom: 2px solid var.$font-fun2-color;
            background-color: var.$font-inverse-color;
        }
    }

    ul {
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;

        li {
            a {
                svg {
                    width: 20px;
                    height: auto;
                }
            }
        }
    }



        #search-input {


            input {

            }

            button {

            }
        }
}


a {
    text-decoration: none;
}

#hero-section {
    position: relative;
    // background-color: var.$bg-dark-color;
    background-image:
    linear-gradient(60deg, #2727273a, #262626b7)
    ,
    // url(https://images.pexels.com/photos/568290/pexels-photo-568290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1),
    url(https://images.pexels.com/photos/30783191/pexels-photo-30783191/free-photo-of-pensive-woman-in-vintage-office-setting.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    height: 80dvh;
    color: var.$font-inverse-color;


    #primary-nav {
        color: var.$font-inverse-color;
        transition: all 0.2s ease-in-out;
        padding: 0 50px 0 50px;

        ul {
            gap: 8vw;
            padding: 5px 20px 5px 20px;

            li {
                color:var.$font-fun2-color;
                border-bottom: 0 solid var.$font-fun2-color;
                padding-bottom: 10px;
                transition: all 100ms ease-out;
                transition-delay: 0.1s;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
            }

            li:hover {
                padding-bottom: 5px;
                border-bottom: 5px solid var.$font-fun2-color;
            }
        }
    }

    #primary-nav:hover {
        background-color: white;
        height:72px;
    }

    .fixed {
        z-index: 10;
        background-color: var.$font-inverse-color;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero-section-text {
        // position: absolute;
        // left: 10vw;
        // bottom: 5vh;
        // height: 60vh;
        // max-width: 500px;


        display: flex;
        padding: 50px;
        height: 60dvh;
        align-items: flex-end;
        justify-content: center;
        max-width: 500px;




        h1 {
            font-family: 'Courier New', Courier, monospace;
            // width: 0;
            // overflow: hidden;
            // white-space: nowrap;
            // font-family: var.$font-big;
            font-size: clamp(15px, 15vw, 42px);
            letter-spacing: 0.3rem;
            // border-right: 5px solid;
            margin: 0;

            // animation: typewriter 2s steps(14) forwards, blink .4s step-end infinite alternate;
        }
    }
}

.typewriter {
    animation: typewriter 2s steps(14) forwards,
    blink .4s step-end infinite alternate;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid;
}

@keyframes blink {
    50% { border-color: transparent;}
}

@keyframes typewriter {

    from {width: 0}
    to { width: 90% }

}

#hero-section-smaller {
    position: relative;
    // background-image: linear-gradient(60deg, #2727276e, #262626b7)
    // , url(https://images.pexels.com/photos/1432516/pexels-photo-1432516.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    // background-size: cover;
    // background-attachment: fixed;
    margin: 0;
    height: 15vh;
    color: var.$font-inverse-color;


    #primary-nav {
        color: var.$font-inverse-color;
        background-color: var.$font-inverse-color;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.089);



        ul {
            gap: 8vw;
            padding: 5px 20px 5px 20px;

            li {
                color:var.$font-fun2-color;
                border-bottom: 0 solid var.$font-fun2-color;
                padding-bottom: 10px;
                transition: all 100ms ease-out;
                transition-delay: 0.1s;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
            }

            li:hover {
                padding-bottom: 5px;
                border-bottom: 5px solid var.$font-fun2-color;
            }
        }
    }

    #primary-nav:hover {
        background-color: var.$font-inverse-color;
    }

    .fixed {
        z-index: 10;
        background-color: var.$font-inverse-color;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero-section-text {
        align-items: flex-end;
        position: absolute;
        left: 50px;
        bottom: 50px;
        height: 60vh;
        max-width: 500px;

        h1 {
            font-family: var.$font-big;
            font-size: 42px;
            margin: 0;
        }

    }
}

#pre-footer{
    gap: 10vw;
}

#main-footer {
    padding: 30px 0 30px 0;
    align-items: flex-start;
    h2 {
        font-size: 2rem;
    }
    input {
        padding: 10px 15px 10px 15px;
        margin-right: 5px;
    }
    button {
        padding: 10px 10px 10px 10px;
        border: 1px solid var.$font-fun2-color;
        background-color: var.$font-fun2-color;
        color: var.$font-main-color;
        cursor: pointer;
        transform: scale(1.04);
        transition: all 0.7s cubic-bezier( 0.68, -0.55, 0.265, 1.55 );
    }
    button:hover {
        background-color: var.$font-inverse-color;
        border: 1px solid var.$font-inverse-color;
    }
}

#menu-burger {
    display: none;
    position: absolute;
    top:0;
    right:0;

    button {
        border: none;
        background-color: var.$font-inverse-color;
        padding: 30px;
        cursor: pointer;
    }


    #hidden-nav-burger {
        background-color: white;
        position: fixed;
        top:0;
        width: 50%;
        height: 100vh;
        margin-top: 0;
        z-index: 100;
        display: flex;
        gap: 50px;
        padding-top: 200px;
        text-align:left;
        transition: all 0.5s ease-out;

        svg {
            position: absolute;
            top:15px;
            left:15px;
            transition: all 0.1s ease-in-out;
            cursor: pointer;
        }

        svg:hover {
            transform: scale(1.3);
        }

        li {
            color:var.$font-fun2-color;
            border-bottom: 0 solid var.$font-fun2-color;
            padding-bottom: 10px;
            transition: all 100ms ease-out;
            transition-delay: 0.1s;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
        }

        li:hover {
            padding-bottom: 5px;
            border-bottom: 5px solid var.$font-fun2-color;
        }
    }

    .hidden {
        opacity: 0;
        right: -1200px;
    }

    .visible {
        opacity:100;
        right: 0;
    }
}

// RESPONSIVE
//// TABLETTES
@media screen and (max-width:1024px) {

    #primary-nav {
        display: none;
    }

    #menu-burger {
        display: block;
    }

    #hero-section-text  {
        min-width: 500px;
        position: relative;
        justify-content: center;
        margin: auto;
        height: auto;
    }

}