@use '../../var.scss';

#contact {
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    background-color: var.$font-fun2-color;
    color: var.$font-main-color;
    padding-right: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
    overflow: hidden;

    div {
        position: relative;
        top:0;
        left:-1000px;
        opacity: 0;
        padding: 50px;
        width: 50%;
        animation-name : appearingFromLeft;
        animation-duration: 0.7s;
        animation-delay: 0.7s;
        animation-fill-mode: forwards;
        text-align: right;
    }

    @keyframes appearingFromLeft {
        from {
            left: -1000px;
            opacity: 0;
        }
        to {
            left: 0px;
            opacity: 100%
        }

    }

    form {
        position: relative;
        left: -2000px;
        width: 50%;
        height: 300px;
        width: clamp(200px, 30vw, 500px);
        gap: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        padding: 20px;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);

        animation-name: appearingFromLeft;
        animation-duration: 0.7s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;


        label {
            display: none;
        }

        input {
            padding: 15px;
            border: none;
            padding-bottom: 3px;
            border-bottom: 3px solid var.$font-fun2-color;
            transition: all 0.1s ease-in-out;
            width: 80%;
        }

        input:hover {
            padding-bottom: 0px;
            border-bottom: 6px solid var.$font-fun2-color;
            svg {
                background-color: white;
            }
        }
        input:active{
            border: 2px solid var.$font-fun2-color;
        }

        textarea {
            padding: 15px;
            border: none;
            padding-bottom: 3px;
            border-bottom: 3px solid var.$font-fun2-color;
            transition: all 0.1s ease-in-out;
            width: 80%;
            height: 150px;
            max-width: 80%;
            resize: none;
        }

        button {
            width: 50%;
            padding: 10px;
            text-align: center;

            svg {
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    #contact {
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;

        div {
            width: 100%;
            display: flex;
            flex-direction: column;

            p {
                margin: 0;
            }
        }

        form {
            width: 100vw;
        }
    }
}