@use '../../var.scss' as *;

main {
    position: relative;
}
#products-nav {
    background-color: $font-inverse-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.089);
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    top: 0;
    right: 0;
    left:0;
    display: none;
    // position: sticky;

    ul {
        display: flex;
        justify-content: space-around;
        gap: 10vw;
    }

}
img {
    object-fit: cover;
}

// Detail Product
#detail-product {
    display:flex;
    width: 90vw;
    gap: 30px;
    margin: auto;

    #detail-product-left {
        width: 50%;
        display: flex;
        #images-container-small {
            cursor: pointer;
            height: 90vh;
            overflow:hidden;
            img, video {
                display: flex;
                flex-direction: column;
                width: 8vw;
                margin: 5px;
                height: 20vh;
                object-fit: cover;
            }
        }
        #image-container-big {
            display: flex;
            margin: 5px;
            display:flex;
            height: 90vh;
            width: 80%;
            overflow:hidden;
            img{
                transform: scale(1.01)
            }
        }
        #image-container-big:hover {
            img {
                transform: scale(1.3);
            }
        }
    }

    #detail-product-right {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {

    #detail-product {
        margin-top: 0;
        flex-direction: column;
        width: 100vw;
        margin: auto;

        #detail-product-left {
            width: 100%;
            justify-content: space-around;
            max-height: 520px;

            #images-container-small {

                img {
                    height: 80px;
                    width: 80px;
                }
            }

            #image-container-big {
                display: flex;
                justify-content: center;
                width: 70vw;
                overflow: hidden;
                max-height: 505px; // 6 photos x 80px + 5px de marge entre chaq

                img {
                    object-fit: cover;
                    width: 70vw;
                }
            }
        }

        #detail-product-right {
            padding-bottom: 20px;
            margin: auto;
            width: 90vw;
            text-align: center;

            button {
                width: 250px !important;
            }

        }
    }

}
