@use '../../var.scss';


// DASHBOARD
li.dashboard {
    width: 180px;
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 3px 5px 3px 2px;
    border-radius: 9px;
}
li.dashboard:hover {
    // background-color: var.$font-fun2-color;
    background-color: white;
}
#dashboard-content {

    h1 {
        text-align: center;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 10px;
    right: 10px;
    bottom: 10px;
    width: 80vw;
    height: 93vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    .container-dashboard {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        // ne dépasse pas la taille de l'écran
        height: 100vh;
        overflow: scroll;
        align-items: center;
        justify-content: space-around;
        gap: 15px;

        .article-dashboard {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #F2F2F2;
            padding: 10px;
            border-radius: 30px;
            width: 350px;
            min-height: 200px;

            div {
                display: flex;
            }
        }

        .article-dashboard:hover {
            cursor: pointer;
            background-color: #F2F2F2;
            transform: scale(1.01);
            box-shadow:  2px 3px 8px rgba(172, 172, 172, 0.459);
        }

        .article-dashboard-zoom {
            padding-top: 10px;
            background-color: rgb(255, 255, 255);
            width: 70vw;

            h2 {
                font-size: 1.1rem;
            }
            text-align: center;
            padding: 10px;
            border-radius: 30px;

            form {
                display: flex;
                gap: 20px;
                padding: 30px;
                flex-direction: column;

                #container-form-dashboard {
                    display: flex;
                    width: 100%;
                    gap: 10px;
                    margin: auto;

                    #form-dashboard-img, #form-dashboard-infos {
                        width: 50%;
                        padding: 0 15px 40px 15px;
                        border-radius: 30px;
                        background-color: rgb(228, 228, 228);
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }

                }

                label {
                    display: none;
                }

                input {
                    padding: 10px;
                    width: 90%;
                    max-width: 600px;
                }

            }

            .button-container {
                width: 100%;
                justify-content: center;
                display: flex;
                gap: 10px;

                button:nth-last-child(1) {
                    background-color: rgb(194, 194, 194);
                }
            }
        }
    }
}

// Modifier Art
.dashboard-card {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    border-radius: 30px;
    gap: 10px;

    span {
        display: none;
        position: absolute;
        top: 50%;
        background-color: rgba(255, 228, 110, 0.267);
        padding: 3px;
    }
    img {
        width: 90px;
        height:90px;
        border-radius: 80px;
        object-fit: cover;
    }
}
.dashboard-card:hover {
    span{display: block; z-index:1;};
    img{transform:scale(1.1)}
}

// Modifier Art Detail Liste of Arts
.dashboard-all-articles-container {
    background-color: white;
    display: flex;
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    gap: 6px;
    height: 100vh;
    overflow: scroll;

    .dashboard-all-article-block {
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(87, 87, 87, 0.24);
        max-width: 200px;
        overflow: hidden;
        padding: 5px;
        height: 250px;
        border-radius: 8px;

        img {
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 8px;
        }
    }

}

// Modifier art Précisémment
#dashboard-update-article {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: center;

        .dashboard-container {
            display:flex;
            background-color: #fcfcfc;
            justify-content: center;
            align-items: start;
            gap: 20px;
            padding: 20px;
            border-radius: 30px;
            img {
                width: 35%;
                max-width: 500px;
                align-self: center;
                border-radius: 200px;
                aspect-ratio: 1/1;
            }
            div {
                input, textarea {
                    padding: 5px 10px 5px 10px;
                    background-color: white;
                    border:1px solid rgb(216, 216, 216);
                }

                textarea {
                    width: 180%;
                    height: 90px;
                    font-family: 'jost';
                }
            }
        }
    }
    .button-container{
        display: flex;
        gap: 20px;

        button:nth-child(1) {
            background-color: rgb(67, 196, 67);
        }

        button:nth-child(2) {
            background-color: rgb(177, 170, 170);
            color: white;
        }
        button:nth-child(3){
            background-color: rgb(201, 53, 8);
            color: white;
        }
    }
}


// Responsive
@media screen and (max-width:1300px) {

    li.dashboard span {
        display: none;
    }
    li.dashboard {
        width: 39px;
    }

    // Dans l'ajout d'article, mode column si responsive
    #dashboard-content {

        .container-dashboard {

            .article-dashboard-zoom {
                form {
                    #container-form-dashboard {
                        flex-direction: column;
                        align-items: center;
                        #form-dashboard-img, #form-dashboard-infos {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 720px) {
    // Dans la modification d'art, modle column si responsive
    #dashboard-update-article {

        form {

            .dashboard-container {
                height: 100vh;
                overflow: scroll;
                flex-direction: column;
                justify-content: flex-start;

                img {
                    width: 50%;
                }

            }

            .button-container {
                padding-bottom: 40px;
            }
        }
    }

}